

.heart i{
    font-size: 
    35px;
}

.heart{
    position: relative;
}


.completed_heart{
    position: absolute;
    right: 0px;
    opacity: 0;
    &:hover{
        cursor: pointer;
        opacity: 1;
        color: $color-secondary;
        transition: 500ms;
    }
}
