
.heart{
    position: relative;
}

.heart i{
    font-size: 35px;
}

.completed_heart{
    position: absolute;
    right: 0px;
    opacity: 0;
    &:hover{
        cursor: pointer;
        opacity: 1;
        transition: 500ms;
        background: linear-gradient($color-primary, $color-secondary) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}


