
/********** ANIMATION APPARITION DES CARDS **********/

@each $var in list {

}

.card_menu {
	animation: slide-in-bottom 1.5s both;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
}

@keyframes slide-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }




  /*********** STYLE **************/

.card_menu{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 17px;
    margin: 20px 0;
    display: flex;
    transition: 0.6s;
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
        transition: 0.6s;
        cursor: pointer;
    }
    &:hover .confirmation__container{
        transform: scaleX(1) ; 
        padding: 0 -5px !important;
        width: 70px;
        animation: scale-up-hor-right 0.6s ease-in-out alternate;
    }

    &:hover .confirmation__icon{
        animation: rotate-icon 0.5s 0.1s alternate;
    }

}


.container{
    display: flex;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden
}

.container_info{
    flex: 1;
    padding: 15px 5px 15px 15px;
    font-size: 17px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.title{
    text-overflow: ellipsis;
    overflow: hidden
}

.info{
    font-size: 15px;
    font-weight: 300;
    color: lighten($color: black, $amount: 30);
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 500;
    padding: 15px 15px 15px 0;
}

/************** ANIMATION AU SURVOL DES CARDS **********/

@keyframes scale-up-hor-right {
    0% {
      transform: scaleX(0);
      transform-origin: 100%;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 100%;
    }
  }

  @keyframes rotate-icon {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0);
    }
  }


.confirmation__container {
    width: 0;
    padding: 0 -5px !important;
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 17px 17px 0;
    transform: scaleX(0) ; 
    transition: 0.6s ease-in-out
}


.confirmation__icon {
    color: white;
    font-size: 30px;
}





  /****** MEDIA QUERIES *********/


  @media screen and (min-width: 1024px) {
    .layout_cards{
        display: flex;
        justify-content: space-between;
    }
    
    .layout_cards > * {
        width: 32%;
    }

    .info{
        font-size: 13px;
    }

}