
/********** ANIMATION APPARITION DES CARDS **********/

@each $var in list {
    
}

.card_menu {
	animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 250ms * $i;
        }
    }
}

@keyframes slide-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }




  /*********** STYLE **************/

.card_menu{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 17px;
    margin: 20px 0;
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
        transition: 0.5s;
    }
    &:hover .confirmation__container{
        margin: 0;
        opacity: 1;
        transition: 0.5s;
    }
    &:hover .confirmation__icon{
        transform: rotate(0);
        transition: 0.5s;
    }
}

.card_menu a{
    display: flex;
}

.menu_title{
    color: black;
    padding: 15px 5px 15px 15px;
    font-size: 17px;
    font-weight: 400;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.info{
    font-size: 15px;
    font-weight: 300;
    color: lighten($color: black, $amount: 30);
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 12px 12px 12px 0;
    color: black;
    font-weight: 500;
}

/************** ANIMATION AU SURVOL DES CARDS **********/

.confirmation__container {
    width: 70px;
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 17px 17px 0;
    margin: -30px;
    opacity: 0;
}


.confirmation__icon {
    color: white;
    font-size: 30px;
    transform: rotate(180deg);
}






  /****** MEDIA QUERIES *********/


  @media screen and (min-width: 1024px) {
    .layout_cards{
        display: flex;
        justify-content: space-between;
    }
    
    .layout_cards > * {
        width: 32%;
    }

    .info{
        font-size: 13px;
    }

}
