
header{
    display: flex;
    align-items: center;
}

.back{
    padding: 20px;
    position: absolute;
}

.back a i{
    color: black;
    font-size: 20px;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0 15px 0;
}

.logo img{
    width: 50%;
    @media screen and (min-width: 767px) {
        width: 35%;
    }
    @media screen and (min-width: 1024px) {
        width: 25%;
    }
}

/*** HEADER IMG ***/


.header_img{
    width: 100%;
    height: 250px;
    box-shadow: inset 0 8px 10px -10px rgba(0,0,0,0.3);
    @media screen and (min-width: 767px) {
        height: 350px;
    }
    @media screen and (min-width: 1024px) {
        height: 450px;
    }
}

.header_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
